<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/styles.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><span id="logo" class="px-2">G</span><span id="logoText" class="px-2">Lets
                    Gtok</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section id="section1">
        <div class="d-flex flex-column">
            <div class="card mx-auto text-center">
                <div class="my-5">
                    <p>Share feelings without being judged</p>
                    <button class="btn">Share feelings</button>
                </div>
            </div>
            <div class="mx-auto section1-footer">
                <p>Join · Share · Feel Relief</p>
            </div>
        </div>
    </section>
    <section id="section2">
        <div class="d-flex">
            <div class="mx-auto text-center my-4">
                <h1>A community to spread positivity</h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row pb-5">
                <div class="col-lg-5 section2-col mx-auto">
                    <div class="py-4">
                        <div class="card col-lg-10 mx-auto text-center">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="py-4">
                        <div class="card col-lg-10 mx-auto text-center">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="py-4">
                        <div class="col-lg-10 mx-auto text-center">
                            <h2>Share what's on your mind with the community</h2>
                            <button class="btn">Share feeling</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 section2-col mx-auto">
                    <div class="py-4">
                        <div class="card col-lg-10 mx-auto text-center">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="py-4">
                        <div class="card col-lg-10 mx-auto text-center">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="py-4">
                        <div class="col-lg-10 mx-auto text-center">
                            <h2>Share what's on your mind with the community</h2>
                            <button class="btn">Share feeling</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section id="section3">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="card mx-auto col-8 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional
                            content.
                        </p>
                        <button class="btn">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="mx-auto">
                <div class="col-lg-4 col-sm-8">
                    <img src="../public/images/emoji.png" alt="emoji-img" width="300px" height="300px">
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 d-flex">
                <form class="col-lg-8 col-md-8 col-sm-10 col-xs-10 mx-auto" id="form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                            placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Enter email"
                            pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="message" rows="3"
                            placeholder="Enter your message"></textarea>
                    </div>
                    <button type="submit" class="btn">Submit</button>
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="d-flex flex-column">
                    <div class="mx-auto">
                        <h1>Quick Links</h1>
                    </div>
                    <div class="mx-auto">
                        <ul>
                            <li>Careers</li>
                            <li>Privacy Policy</li>
                            <li>Terms and Conditions</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>

</html>